/* Global styles */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
  .btn-primary {
      float: right;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #333;
      color: white;
      padding: 10px 20px;
      font-size: 1em;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}
  
  body, html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: Arial, sans-serif;
  }
  
  .background {
      background-image: url('../assets/Hero-bg.png');
      background-size: cover; 
      background-position: center;
      width: 100%;
      height: 652px; 
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px;
      
  }
  
  .content {
      max-width: 800px; 
      padding: 20px;
      border-radius: 10px;
     
      text-align: center;
  }
  
  .icon {
      width: 240px; 
      height: auto; 
      margin-bottom: 20px;
  }
  
  h1 {
      font-size: 3em; 
      margin: 20px 0;
      color: #333;
  }
  
  .container {
      margin: 20px auto; 
      max-width: 800px; 
      text-align: center;
  }
  
  .card {
      display: flex;
      align-items: center;
      margin: 20px 0;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-1 {
      width: 200px;
      height: auto;
      margin-right:0 20px; 
      border-radius: 10px;
      float: right;

  }
  
  .card-content {
      flex: 1;
  }
  
  .card-content h2 {
      font-size: 1.5em; 
      color: #333;
      margin-bottom: 10px;
  }
  
  .card-content p {
      font-size: 1em;
      color: #777;
      margin-bottom: 20px;
  }
  .inspiration{
    text-align: center;
    
  }
  .target{
    text-align: center;
    
  }
  .s-title{
    text-align: center;
  }
  .p-para{
    text-align: center;
  }
  .vedio{
    border: 2px solid red;
    border-radius: 25px;
    margin: 48px;
  }
  
  button {
      padding: 10px 20px;
      background-color: #333;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1em;
      transition: background-color 0.3s ease;
  }
  .target-c{
    display: flex;
    gap: 26px;
  }
  .targets-1{
    padding: 30px;
    background-color:rgba(255, 76,30, 5%);
  }
  .targets-2{
    padding: 30px;
    
    background-color:rgba(0, 76,232, 5%);
  }
  .targets-3{
    padding: 30px;
    background-color:rgba(255,233,0, 5%);
  }
  .support{
    background-image: url('../assets/handshake.jpg');
background-size: cover;
background-position: center;
    width: 1140px;
    height: 312px; 
   flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
    margin: 32px;

  }
  .s-text{


        margin-bottom: 16px;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Azeret Mono';
        font-weight: 700;
        font-size: 32px;
        line-height: 1.125;
        color: #FFFFFF;
        flex-direction: row;
      

  }
 
  .last{
    
     
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 32px;
      width: 1440px;
      box-sizing: border-box;

    
  }
  
  .fb{
    width: 32px;
    height: 32px;
    box-sizing: border-box;
  }
  .git{
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    
  }
  .lin{
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    
  }
  .l-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    gap:10px;
}
  button:hover {
      background-color: #555;
  }
  
 
  .card:nth-child(even) {
      flex-direction: row-reverse;
  }
  